<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hd.hse.pc.phone"
    android:versionCode="1"
    android:versionName="1.0.0-SNAPSHOT">

    <uses-sdk android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- 选择人员检查方式 -->
        <activity
            android:name="com.hd.hse.pc.phone.activity.PersonCheckMode"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

        <!-- 读卡界面 -->
        <activity
            android:name="com.hd.hse.pc.phone.activity.ReadPersonCardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <!-- 人员检查界面 -->
        <activity
            android:name="com.hd.hse.pc.phone.activity.PersonCheckActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <!-- 出入厂记录界面 -->
        <activity
            android:name="com.hd.hse.pc.phone.activity.PersonAccessRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <!-- 人员违章记录界面 -->
        <activity
            android:name="com.hd.hse.pc.phone.activity.PersonRulesRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <!-- 人员证书记录界面 -->
        <activity
            android:name="com.hd.hse.pc.phone.activity.PersonCertificateRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.hd.hse.pc.phone.activity.PersonCertificateRecordActivity2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.hd.hse.pc.phone.activity.TrainingRecordsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name="com.hd.hse.pc.phone.activity.CertificateDisplayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.hd.hse.pc.phone.activity.JhrExamRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

    </application>

</manifest>